<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Sign Up</h3>
      <div class="formGroup">
        <input
          #userEmail
          class="formControl"
          placeholder="Email Address"
          required
          type="email"
        />
      </div>
      <div class="formGroup">
        <input
          #userPwd
          class="formControl"
          placeholder="Password"
          required
          type="password"
        />
      </div>
      <div class="formGroup">
        <input
          (click)="authService.SignUp(userEmail.value, userPwd.value)"
          class="btn btnPrimary"
          type="button"
          value="Sign Up"
        />
      </div>
      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>
      <!-- Continue with Google -->
      <div class="formGroup">
        <button
          (click)="authService.GoogleAuth()"
          class="btn googleBtn"
          type="button"
        >
          <i class="fab fa-google-plus-g"></i>
          Continue with Google
        </button>
      </div>
    </div>
    <div class="redirectToLogin">
      <span
      >Already have an account?
        <span class="redirect" routerLink="/sign-in">Log In</span></span
      >
    </div>
  </div>
</div>
